In [1]:
import numpy as np

In [2]:
a = np.array([1, 3, 7])
b = np.array([2, 8, 1])

In [4]:
c = a + b
c

array([ 3, 11,  8])

In [3]:
import pandas as pd

df = pd.DataFrame({
    "hola": [1.,2],
    "coche": [3, 4.5]
})

df

   hola  coche
0   1.0    3.0
1   2.0    4.5